body {
  margin: 0;
  padding: 0;
}

.App {
  align-items: center;
  background-image: url('./images/background.png');
  background-size: 100%;
  background-repeat: repeat-y;
  color: white;
  display: flex;
  flex-flow: column;
  font-family: Gill Sans , Gill Sans MT , Calibri , Trebuchet MS , sans-serif;
  justify-content: space-around;
  height: 100%;
  border:0.1cm solid green;
}

a {
  text-decoration: none;
}

header {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  text-align: center;
  width: 100vw;
  justify-content: center;
  padding-top: 30px;
}

.area-linha {
  display: flex;
  justify-content: left;
  width: 100%;
  z-index: 0;
}

.linha1 {
  color: rgb(255, 255, 255);
  width: 2%;
  animation: linha12 1s alternate-reverse infinite;
}

.linha2 {
  color: rgb(255, 255, 255);
  width: 2%;
  animation: linha12 1.5s infinite;
}

.linha3 {
  color: rgb(255, 255, 255);
  width: 2%;
  animation: linha3 1s infinite;
}

 hr {
  color: rgb(255, 255, 255);
  width: 80%;
}
 @keyframes linha12 {
  0% {
    position: relative; margin-left: 0;
    opacity: 100%;
  }
  100% {
    position: relative; margin-left: 100%;
    opacity: 0%;
  }
}

@keyframes linha3 {
  0% {
    position: relative; margin-left: 100vw;
    opacity: 100%;
  }
  100% {
    position: relative; margin-left: 0;
    opacity: 5%;
  }
}

.header-title {
  color: rgb(255, 255, 255);
  font-family: 'Trispace', sans-serif;
  font-size: 100px;
  font-weight: 300;
}

.big-box-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 100vh;
  width: 100%;
}

.box-buttons {
  display: flex;
  justify-content: space-around;
  width: 40%;
  padding-bottom: 10%;
}

.nav {
  background-color: transparent;
  color: rgb(87, 74, 74);
  border: 0;
  font-size: 30px;
  font-family: 'Trispace', sans-serif;
}

.nav:hover {
  transform: scale(1.2);
  transition: 0.2s;
  color: white;
}

.area-seta {
  display: flex;
  justify-content: center;
  height: 20%;
  width: 100%;
}

.seta {
 color: white;
 animation: seta 1s alternate infinite;
}

@keyframes seta {
  from {
    position: relative; bottom: 0;
  }
  to {
    position: relative; bottom: 80px;
  }
}

.titulo {
  align-items: center;
  border-radius: 1em;
  font-family: Gill Sans , Gill Sans MT , Calibri , Trebuchet MS , sans-serif;
  font-size: larger;
  height: 40px;
  padding: 5px;
  text-align: center;
  width: 70%;
  font-family: 'Trispace', sans-serif;
}

.nome-planeta {
  font-family: Gill Sans , Gill Sans MT , Calibri , Trebuchet MS , sans-serif;
  line-height: 10px;
}

.div-planetas {
  align-items: center;
  color: rgb(87, 74, 74);
  display: flex;
  flex-flow: row wrap;
  font-size: 19px;
  font-family: 'Trispace', sans-serif;
  justify-content: space-around;
  height: 100vh;
  text-align: center;
  width: 100vw;
  margin-bottom: 10px;
}

.planet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 160px;
  height: 160px;
}

.planet:hover {
  transform: scale(1.3);
  transition: 0.4s;
  color: rgb(255, 255, 255);
  background-color: rgba(108, 110, 112, 0.171);
  cursor: pointer;
  border-radius: 1em;
}

.solar-system {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.missions {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.div-missoes {
  display: flex;
  flex-flow: row wrap;
  font-family: 'Trispace', sans-serif;
  justify-content: space-around;
  margin-top: 50px;
  width: 100vw;
  height: 100%;
  padding-bottom: 20px;
}

.card-missoes {
  background-color: rgba(37, 35, 35, 0.445);
  border: 0.1em solid white;
  border-radius: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 20%;
  margin-bottom: 20px;
  padding: 10px;
}

.card-missoes:hover {
  border: 0.1em solid rgb(190, 0, 0);
  width: 20%;
}

.item {
  font-weight: 600;
  text-decoration: none;
  text-shadow: 0.1em 0.1em  0.1em rgb(0, 60, 255);
}
